{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">  
  {% csrf_token %}
<p>  
Are you sure you want remove those voters from all censuss ?
   
</p>  Voter IDs<ul>
  {% for census in censuss %}
    <li>
	
      {{ census.voter_id }}
    </li>
    <input type="hidden" name="_selected_action" value="{{ census.pk }}" />
  {% endfor %}</ul>

  <input type="hidden" name="action" value="removeVoterAllCensus" />
  <input type="submit" name="yes" value="Yes"/>
 <input type="submit" name="no" value="No"/>
</form>  
{% endblock %}
